.width-180 {
    width: 180px;
}

ul > li {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.btn-disabled {
    background-color: #9ad49a !important;
    border: 1px solid #9ad49a !important;
}

.no-pad {
    padding: 0px;
}

.mini-icon {
    height: 27px;
}

.mini-cc-icon {
    height: 25px;
}

#CCDialog > .ui-dialog > .ui-dialog-content.ui-widget-content {
    height: 300px !important;
    width: 450px !important;
    background-color: #f1f1f1 !important; 
}