/* :host>>>.ui-card{
    background-color: #f5f5f5 !important;
}
.center {
    text-align: center;
}
.biggie {
    font-size: 18px;
    font-weight: 900;
}
:host>>>.ui-card-title {
    font-size: 1.75em !important;
    text-align: center !important;
    color: #00aeef !important;
} */

HTML CSSResult
EDIT ON
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* body {
    background: #2e2a2a;
    color: #FFF;
    font-size: 62.5%;
    font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
} */

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

a {
    color: #00aeef;
    text-decoration: none;
}

.pricing-table-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.6em;
    color: #FFF;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 25px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.pricing-table-title a {
    font-size: 0.6em;
}

.clearfix:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    clear: both;
}
/** ========================
 * Contenedor
 ============================*/
.pricing-wrapper {
    width: 960px;
    margin: 40px auto 0;
}

.pricing-table {
    margin: 0 10px;
    text-align: center;
    width: 250px;
    /* width: 300px; */
    float: left;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    padding: 0px;
}

.pricing-table:hover {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
}

.pricing-title {
    color: #FFF;
    background: #00aeef;
    padding: 10px 0;
    font-size: 1.2em;
    /* padding: 20px 0;
    font-size: 2em; */
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.pricing-table.recommended .pricing-title {
    background: #00aeef;
}

.pricing-table.recommended .pricing-action {
    background: #00aeef;
}

.pricing-table .price {
    background: #403e3d;
    font-size: 1em;
    /* font-size: 3.4em; */
    font-weight: 700;
    padding: 10px 0;
    /* padding: 20px 0; */
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    color: #FFF;
}

.pricing-table .price sup {
    font-size: 0.8em;
    position: relative;
    left: 5px;
}

.table-detail {
    background: #403e3d;
    padding: 5px 0;
    font-size: 1em;
    color: #FFF;
}

.table-list {
    background: #FFF;
    color: #403d3a;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.table-list li {
    font-size: 1em;
    font-weight: 400;
    padding: 12px 8px;
}

.table-list li:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #3fab91;
    display: inline-block;
    position: relative;
    right: 5px;
    font-size: 16px;
}

.table-list li span {
    font-weight: 700;
}

.table-list li span.unlimited {
    color: #FFF;
    background: #00aeef;
    font-size: 0.9em;
    padding: 5px 7px;
    display: inline-block;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
}


.table-list li:nth-child(2n) {
    background: #F0F0F0;
}

.table-buy {
    background: #FFF;
    padding: 15px;
    text-align: center;
    /* text-align: left; */
    overflow: hidden;
}

.table-buy p {
    float: left;
    color: #37353a;
    font-weight: 700;
    font-size: 2em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.table-buy p sup {
    font-size: 0.65em;
    position: relative;
    left: 5px;
}

.table-buy .pricing-action {
    float: right;
    color: #FFF;
    background: #00aeef;
    padding: 10px 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 1.4em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.table-buy .pricing-action:hover {
    background: #00aeef;
}

.recommended .table-buy .pricing-action:hover {
    background: #228799;
}

/** ================
 * Responsive
 ===================*/
 @media only screen and (min-width: 768px) and (max-width: 959px) {
    .pricing-wrapper {
        width: 768px;
    }

    .pricing-table {
        width: 236px;
    }

    /* .table-list li {
        font-size: 1.3em;
    } */

 }

 @media only screen and (max-width: 767px) {
    .pricing-wrapper {
        width: 420px;
    }

    .pricing-table {
        display: block;
        float: none;
        margin: 0 0 20px 0;
        width: 100%;
    }
 }

@media only screen and (max-width: 479px) {
    .pricing-wrapper {
        width: 300px;
    }
}