<h1>Chain Hunter</h1>

<div>
    <input [(ngModel)]="addyTxn" placeholder="Address/Transaction"/>
    <button type="button" (click)="chainHunt()">Go!</button>
</div>
<div>
    <h3>Samples</h3>
    <div>Btc address: <span>15urYnyeJe3gwbGJ74wcX89Tz7ZtsFDVew</span></div>
    <div>Btc txn: <span>0eab89a271380b09987bcee5258fca91f28df4dadcedf892658b9bc261050d96</span></div>
</div>
<div>
    <btc-results [btcAddress]="btcAddress" [btcTransaction]="btcTransaction" [btcTransactions]="btcTransactions"></btc-results>
</div>