<img src="assets/chainhunterhorizontal.png" class="logo-main" />
<div *ngIf="notRunning">
    <div class="pull-right">
        <span class="ui-float-label">
            <input [(ngModel)]="addyTxn" id="addy-txn" type="text" size="50" pInputText> 
            <label for="addy-txn">Address/Transaction</label>
        <button pButton type="button" (click)="chainHunt()" label="Go!" class="ui-button-success"></button>
        </span>
    </div>
</div>
<div *ngIf="!notRunning">
    <h3>The hunt is on!</h3>
    <p-progressBar mode="indeterminate" [style]="{'width': '50%'}"></p-progressBar>
</div>
<div>
    <p-tabMenu [model]="menuItems" [activeItem]="activeItem">
        <ng-template pTemplate="item" let-item let-i="index">
            <div style="position: relative; text-align: center; min-width: 1em">
                <img src="assets/cryptoicons/{{item.icon}}" title="{{item.label}}" />
            </div>
        </ng-template>
    </p-tabMenu>
    <search-results [blockchain]="blockchain" [huntStatus]="huntStatus" [selectedChain]="selectedChain" [transactionsComplete]="txnsComplete" [tokensComplete]="tokensComplete" (getTransactions)="getAddressTxns($event)" (getTokens)="getAddressTokens($event)"></search-results>
</div>
<div>    
    <div class="coming-soon">
        <p>Coming soon:</p>
        <div>
            <img class="chain-logo-pad" src="assets/cryptoicons/color/aion.svg" title="Aion" />
            <img class="chain-logo-pad" src="assets/cryptoicons/color/dash.svg" title="Dash" />
            <img class="chain-logo-pad" src="assets/cryptoicons/color/eos.svg" title="EOS" />
            <img class="chain-logo-pad" src="assets/cryptoicons/color/icx.svg" title="Icon" />
            <img class="chain-logo-pad" src="assets/cryptoicons/color/iost.svg" title="IOST" />
            <img class="chain-logo-pad" src="assets/cryptoicons/color/ont.svg" title="Ontology" />
            <img class="chain-logo-pad" src="assets/cryptoicons/color/qtum.svg" title="QTUM" />
            <img class="chain-logo-pad" src="assets/cryptoicons/color/usdt.svg" title="Tether" />
            <img class="chain-logo-pad" src="assets/cryptoicons/color/xlm.svg" title="Stellar Lumens" />
        </div>
    </div>
</div>
<p-accordion>
    <p-accordionTab header="Samples">
        <samples></samples>
    </p-accordionTab>
</p-accordion>