body{
    font-family: "Open Sans","Helvetica Neue",sans-serif;
}

h2 {
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}

div {
    font-family: "Open Sans","Helvetica Neue",sans-serif;
}

.not-found-bg {
    background-color: dimgrey;
}

.found-bg {
    background-color: ghostwhite;
}

.float-input {
    font-family: "Open Sans","Helvetica Neue",sans-serif;
}

.logo-main {
    height: 99.438px;
    width: 400px;
    margin-bottom: 20px;
}