<h2>About</h2>
<h3>Multi-Blockchain Explorer</h3>
<div>
    <p>After repeating the arduous task of checking multiple explorer websites to track down address or transaction details, 
        the brain-child behind The Chain Hunter decided enough was enough and The Chain Hunter was created! 
        The Chain Hunter was built to ease this effort and make a one-stop shop for you all your blockchain querying needs.</p>
    <p>The Chain Hunter now supports a large array of blockchain projects and offers the ability to save searches of addresses, contracts, and or transactions.</p>
</div>
<h3>Development Information and Thanks</h3>
<div>
    <div>
        <p>Chain Hunter was developed using:</p>
        <ul>
            <li class="pad-10">
                <img class="built-by" src="assets/angular-brands.svg" title="Angular" /> 
            </li>
            <li class="pad-10">
                <img class="built-by" src="assets/docker-brands.svg" title="Docker" /> 
            </li>
            <li class="pad-10">
                <img class="built-by" src="assets/node-js-brands.svg" title="NodeJS" />
            </li>
        </ul>
        <p>Credit Card payment processing provided by: <a href="https://squareup.com/i/CHAINHUNTR" target="_blank">Square</a></p>
        <p>Ethereum results are "Powered by <a href="https://ethplorer.io/" target="_blank">Ethplorer.io</a>"</p>
        <p>Cryptocurrency icons and logos provided by: <a href="http://cryptoicons.co/" target="_blank">CryptoIcons.co</a></p>
        <p>Other icons and logos provided by: <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>. License available <a href="https://fontawesome.com/license" target="_blank">here</a>.</p>
    </div>
</div>