.twitter-img {
    font-size: 24px;
}

.brave-img {
    width:100px; 
    height:20px;
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}

.text-muted {
    color: #6c757d!important;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.d-block {
    display: block!important;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

small {
    font-size: 80%;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

dl, ol, ul {
    margin-top: 0;
    /* margin-bottom: 1rem; */
}

ul {
    display: block;
    list-style-type: disc;
    /* margin-block-start: 1em;
    margin-block-end: 1em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 14px;
}

.mbe-0 {
    margin-block-end: 0px;
}

.border-top {
    border-top: 1px solid #dee2e6!important;
}

.twitter-box {
    width: 100px;
}

.brave-box {
    padding-top: 10px;
    width: 100px;
}

.bold-it {
    font-weight: bold;
}