<div>
    <div>&copy; 2019</div>
    <div class="text-muted">The Chain Hunter is brought to you by <a href="http://cryptax.co" target="_blank">Cryptax</a></div>
    <div>
        <a title="Follow us on Twitter!" class="twitter-img" href="https://twitter.com/HunterChain" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
    <div>
        <a href="https://brave.com/" target="_blank"><img src="assets/brave-bat-partnership.svg" class="brave-img" title="We support Brave Browse!" /></a>
    </div>
</div>
