<h2>My Account</h2>
<div class="p-grid">
    <div class="p-col">
        Email: {{user.email}}
    </div>
    <div class="p-col">
        Joined: {{joinDate}}
    </div>
    <div class="p-col">
        Username: <input type="text" pInputText name="username"
                           placeholder="username" [(ngModel)]="user.username" size="40">
                <p-button label="Update" (click)="onUpdateUsername($event)" styleClass="ui-button-info"></p-button>
    </div>
    <div class="p-col">
        Account Type: {{user.accountType}}
        Daily Search Limit: {{searchLimit}}
        Saved Hunt Limit: {{saveLimit}}
        Current Saved Hunts: {{user.savedHunts}}
        <p-button *ngIf="user.accountTypeId < 3" label="Upgrade Account" (click)="onUpgradeAccount($event)" styleClass="ui-button-success"></p-button>
    </div>
</div>