<h2>My Account</h2>
<div class="p-grid">
    <div class="p-col">
        <p-card header="About Me">
            <div>Email: {{user.email}}</div>
            <div>Joined: {{joinDate}}</div>
            <div>Username: <span *ngIf="!editUser">{{user.username}}</span> 
                <input type="text" *ngIf="editUser" pInputText name="username" placeholder="username" [(ngModel)]="user.username" size="40">
            </div>
            <div>
                <p-button label="Edit" *ngIf="!editUser" (click)="onToggleEdit(true)" styleClass="ui-button-info"></p-button>
                <p-button label="Update" *ngIf="editUser && !updatingUser" (click)="onUpdateUsername($event)" styleClass="ui-button-info"></p-button>
                &nbsp;&nbsp;
                <p-button label="Cancel" *ngIf="editUser" (click)="onToggleEdit(false)" styleClass="ui-button-secondary"></p-button>
                <i *ngIf="updatingUser" class="fa fa-refresh fa-2x fa-spin"></i>
            </div>
        </p-card>
    </div>
    <div class="p-col">
        <p-card header="Account Details">
            <div>Account Type: {{user.accountType}}</div>
            <div>Daily Search Limit: {{searchLimit}}</div>
            <div>Saved Hunt Limit: {{saveLimit}}</div>
            <div>Current Saved Hunts: {{user.savedHunts}}</div>
            <div>
                <p-button *ngIf="user.accountTypeId < 3" label="Upgrade Account" (click)="onUpgradeAccount($event)" styleClass="ui-button-success"></p-button>
            </div>
        </p-card>
    </div>
    <div class="p-col-2">
    </div>
</div>