<img src="assets/chainhunterhorizontal.png" class="logo-main" />
<div *ngIf="notRunning">
    <div class="pull-right">
        <span class="ui-float-label">
            <input [(ngModel)]="addyTxn" id="addy-txn" type="text" size="50" (keyup.enter)="chainHunt()" pInputText> 
            <label for="addy-txn">Address/Contract/Transaction</label>
        <button pButton type="button" (click)="chainHunt()" label="Go!" class="ui-button-success"></button>
        </span>
    </div>
</div>
<div *ngIf="!notRunning">
    <h3>The hunt is on!</h3>
    <p-progressBar mode="indeterminate" [style]="{'width': '50%'}"></p-progressBar>
</div>
<div>
    <p-tabMenu [model]="menuItems" [activeItem]="activeItem">
        <ng-template pTemplate="item" let-item let-i="index">
            <div style="position: relative; text-align: center; min-width: 1em">
                <img src="assets/cryptoicons/{{item.icon}}" title="{{item.label}}" />
            </div>
        </ng-template>
    </p-tabMenu>
    <search-results 
        [activeChains]="activeChains"
        [blockchain]="blockchain" 
        [huntStatus]="huntStatus" 
        [selectedChain]="selectedChain" 
        [transactionsComplete]="txnsComplete" 
        [tokensComplete]="tokensComplete" 
        [resultsFound]="resultsFound"
        (getTransactions)="getAddressTxns($event)" 
        (getTokens)="getAddressTokens($event)">
    </search-results>
</div>
<div>    
    <div class="coming-soon" *ngIf="comingSoon.length > 0">
        <p>Coming soon:</p>
        <ul class="no-pad">
            <li *ngFor="let chain of futureChains">
                <img class="chain-logo-pad" src="assets/cryptoicons/color/{{chain.symbol.toLowerCase()}}.svg" title="{{chain.name}}" />
            </li>
        </ul>
    </div>
</div>
<p-accordion>
    <p-accordionTab header="Samples">
        <samples></samples>
    </p-accordionTab>
</p-accordion>
