.p-accordion {
    height: 275px;
    display: block;
    overflow: scroll;
}

ul {
    word-break: break-all;
}

li {
    background-color: #fff;
}

li:nth-child(odd) {
    background-color: #eff0f1;
}

.word-break {
    word-wrap: break-word;
}