.p-accordion {
    height: 275px;
    display: block;
    overflow: scroll;
}

ul {
    word-break: break-all;
    list-style-type: none;
    padding-inline-start: 2px !important;
}

li {
    background-color: #fff;
    padding: 5px 20px;
}

li:nth-child(odd) {
    background-color: #eff0f1;
}

.word-break {
    word-wrap: break-word;
}

.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 2.5em;
}
.ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
}