<h2>Admin Page</h2>
<div class="p-grid">
    <div class="p-col-12 p-lg-2">
        <h3>User Counts</h3>
        <div>Total: {{userCounts.total}}</div>
        <div>Active: {{userCounts.active}}</div>
        <div>Free: {{userCounts.free}}</div>
        <div>Basic: {{userCounts.basic}}</div>
        <div>Pro: {{userCounts.pro}}</div>
        <div>Saves: {{userCounts.saves}}</div>
    </div>
    <div class="p-col-12 p-lg-5">
        <p-button label="Blockchains" (onClick)="toggleBlockchains()"></p-button>
        &nbsp;&nbsp;
        <p-button label="Discount Codes" (onClick)="toggleDiscountCodes()"></p-button>
    </div>
    <div *ngIf="viewDiscountCodes" class="p-col-12 p-lg-10">
        <p-button label="New Code" (onClick)="createCode()"></p-button>
        &nbsp;&nbsp;
        Active Codes: <p-checkbox [(ngModel)]="activeCodes" binary="true" (onChange)="onFilterList()"></p-checkbox>
        <div *ngIf="showCodeDialog">
            <p-card>
                <h3>{{dialogHeader}}</h3>
                <div>
                    Code: <input type="text" pInputText [(ngModel)]="editDiscountCode.code" />
                </div>
                <div>
                    Multi Use: <p-checkbox [(ngModel)]="editDiscountCode.multiUse" binary="true"></p-checkbox>
                    &nbsp;&nbsp;
                    Redeemed: <p-checkbox [(ngModel)]="editDiscountCode.redeemed" binary="true"></p-checkbox>
                </div>
                <div>
                    Price: $<input type="number" pInputText [(ngModel)]="editDiscountCode.price" />
                    &nbsp;or&nbsp;
                    Percent Off: <input type="number" pInputText [(ngModel)]="editDiscountCode.percentOff" />%
                </div>
                <div>
                    Days Active: <input type="number" pInputText [(ngModel)]="editDiscountCode.days" />
                </div>
                <div>
                    Usage: Max Amount <input type="number" pInputText [(ngModel)]="editDiscountCode.totalUses" /> 
                    &nbsp;&nbsp;
                    Used <input type="number" pInputText [(ngModel)]="editDiscountCode.usedUses" />
                </div>
                <div>
                    Valid Til: <p-calendar [(ngModel)]="dateVal" [showTime]="true" dateFormat="yy-mm-dd" (onClose)="onTimeSet()"></p-calendar>
                    <p-dropdown [options]="timeZones" [(ngModel)]="timeZone" (onChange)="onTimeSet()"></p-dropdown>
                    Unix: <input type="number" pInputText [(ngModel)]="editDiscountCode.validTil" />
                </div>
                <div>
                    Account Type: <p-dropdown [options]="accounts" [(ngModel)]="editDiscountCode.accountTypeId"></p-dropdown>
                </div>
                <p-button label="Save Code" (onClick)="saveCode()"></p-button>
                &nbsp;&nbsp;
                <p-button label="Cancel" (onClick)="cancelCode()"></p-button>
            </p-card>
        </div>
        <p-table *ngIf="!showCodeDialog" [value]="discountCodes" selectionMode="single" [(selection)]="editDiscountCode" (onRowSelect)="editCode($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>Code</th>
                    <th>Multi</th>
                    <th>Redeemed</th>
                    <th>Discount</th>
                    <th>Days</th>
                    <th>Usage</th>
                    <th>Valid</th>
                    <th>Type</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-code>
                <tr [pSelectableRow]="code">
                    <td>{{code.code}}</td>
                    <td>{{code.multiUse}}</td>
                    <td>{{code.redeemed}}</td>
                    <td>{{code.discount}}</td>
                    <td>{{code.days === null ? '-' : code.days}}</td>
                    <td>{{code.totalUses === null ? '-' : code.usedUses + '/' + code.totalUses}}</td>
                    <td>{{code.validDate}}</td>
                    <td>{{code.accountName}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="viewBlockchains" class="p-col-12 p-lg-10">
        <p-button label="New Blockchain" (onClick)="createBlockchain()"></p-button>
        &nbsp;&nbsp;
        <!-- Status: <p-checkbox [(ngModel)]="bcStatus" binary="true" (onChange)="onFilterBCList()"></p-checkbox> -->
        <div *ngIf="showBCDialog">
            <p-card>
                <h3>{{dialogHeader}}</h3>
                <div>
                    Name: <input type="text" pInputText [(ngModel)]="editBlockchain.name" />
                </div>
                <div>
                    Symbol: <input type="text" pInputText [(ngModel)]="editBlockchain.symbol" />
                </div>
                <div>
                    Contracts: <p-checkbox [(ngModel)]="editBlockchain.hasContracts" binary="true"></p-checkbox>
                    &nbsp;&nbsp;
                    Tokens: <p-checkbox [(ngModel)]="editBlockchain.hasTokens" binary="true"></p-checkbox>
                </div>
                <div>
                    Type: <p-dropdown [options]="blockchainTypes" [(ngModel)]="editBlockchain.type" placeholder="Select a type"></p-dropdown>
                    <br> reference <a href="https://steemitimages.com/p/JvFFVmatwWHRfvmtd53nmEJ94xpKydwmbSC5H5svBACH7z9fCvxPj3CUpU5kRMqxvo3QmGpg9v2A69xAuWstsksJTeppQPZHkdEz9cKdbch8TSxpsm43E3KokjEFFRqzaREev4uQqU?format=match&mode=fit&width=640" target="_blank">here</a> and <a href="https://coinnewstelegraph.com/wp-content/uploads/2018/06/cryptocurrency-periodic-table-chart-9-types-of-blockchain-assets-categories.jpg" target="_blank">here</a>
                </div>
                <div>
                    Status: <p-dropdown [options]="blockchainStatuses" [(ngModel)]="editBlockchain.status" placeholder="Select a status"></p-dropdown>
                </div>
                <p-button label="Save" (onClick)="saveBC()"></p-button>
                &nbsp;&nbsp;
                <p-button label="Cancel" (onClick)="cancelBC()"></p-button>
            </p-card>
        </div>
        <p-table *ngIf="!showBCDialog" [value]="blockchains" selectionMode="single" [(selection)]="editBlockchain" (onRowSelect)="onEditBlockchain($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Tokens</th>
                    <th>Contracts</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bc>
                <tr [pSelectableRow]="bc">
                    <td>{{bc.name}}</td>
                    <td>{{bc.symbol}}</td>
                    <td>{{bc.type}}</td>
                    <td>{{bc.status === '1' ? 'Active' : 'Future'}}</td>
                    <td>{{bc.hasTokens ? 'X' : ''}}</td>
                    <td>{{bc.hasContracts ? 'X' : ''}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>