<h3>{{user.message}} <p-button *ngIf="user.message" label="Dismiss" (click)="onDismissMessage($event)" styleClass="ui-button-secondary"></p-button></h3>
<div *ngIf="savedSearches.length === 0 && !gettingData">
    <h3>You have not saved any addresses, contracts, or transactions</h3>
</div>
<div *ngIf="gettingData">
    <h3>Loading your favorite Hunts!&nbsp;&nbsp;&nbsp;<i class="fa fa-cog fa-2x fa-spin" style="color: #464a4e;"></i></h3>    
</div>
<div *ngIf="savedSearches.length > 0">
    <h3>Favorite Hunts:</h3>
    <p-accordion (onOpen)="onExpand($event)" [multiple]="true">
        <p-accordionTab *ngFor="let data of savedSearches" 
                        header="{{data.symbol}} {{data.type}} {{data.hash}}">
            <div *ngIf="!data.active">
                <p>This saved hunt is not active. You must upgrade your account to view, or you may <p-button label="Delete" (click)="onDelete($event, data)"  styleClass="ui-button-info"></p-button> this hunt.</p>
            </div>
            <div *ngIf="data.type==='address' && data.active">
                <div *ngIf="data.blockchain === null">
                    <h3>Hunting...<i class="fa fa-refresh fa-2x fa-spin"></i></h3>
                </div>
                <div *ngIf="data.blockchain !== null">
                    <div>
                        <p-button label="Refresh" (click)="onRefresh($event, data)" styleClass="ui-button-secondary"></p-button>
                    </div>
                    <app-address-detail [addressSaved]="true" [saveId]="data.id" [blockchain]="data.blockchain"></app-address-detail>
                </div>
            </div>
            <div *ngIf="data.type==='block' && data.active">
                <div *ngIf="data.blockchain === null">
                    <h3>Hunting...<i class="fa fa-refresh fa-2x fa-spin"></i></h3>
                </div>
                <div *ngIf="data.blockchain !== null">
                    <div>
                        <p-button label="Refresh" (click)="onRefresh($event, data)" styleClass="ui-button-secondary"></p-button>
                    </div>
                    <app-block [blockSaved]="true" [saveId]="data.id" [blockchain]="data.blockchain"></app-block>
                </div>
            </div>
            <div *ngIf="data.type==='contract' && data.active">
                <div *ngIf="data.blockchain === null">
                    <h3>Hunting...<i class="fa fa-refresh fa-2x fa-spin"></i></h3>
                </div>
                <div *ngIf="data.blockchain !== null">
                    <div>
                        <p-button label="Refresh" (click)="onRefresh($event, data)" styleClass="ui-button-secondary"></p-button>
                    </div>
                    <app-contract-detail [contractSaved]="true" [saveId]="data.id" [blockchain]="data.blockchain"></app-contract-detail>
                </div>
            </div>
            <div *ngIf="data.type==='transaction' && data.active">
                <div *ngIf="data.blockchain === null">
                    <h3>Hunting...<i class="fa fa-refresh fa-2x fa-spin"></i></h3>
                </div>
                <div *ngIf="data.blockchain !== null">
                    <div>
                        <p-button label="Refresh" (click)="onRefresh($event, data)" styleClass="ui-button-secondary"></p-button>
                    </div>
                    <transaction [blockchain]="data.blockchain" [saveId]="data.id" [transactionSaved]="true"></transaction>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>
