<h3>Terms of Use</h3>
<div>
    <h4>Cookie Policy</h4>
    <div>
        <p>Chain Hunter uses cookies for monitoring visitor usage. Chain Hunter also uses cookies for Google Analytics tracking.</p>
        <p>For more information about Google Analytics cookies, click <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookies-user-id" target="_blank">here</a>.</p>
    </div>
    
    <h4>Privacy Policy</h4>
    <div>
        <p>Chain Hunter does not save any user specific data.</p>
        <p>Chain Hunter saves location and search results based on available IP address metadata. Individual IP addresses are not saved.</p>        
        <p>Example of saved location information:</p>
        <ul>
            <li>country: 'US'</li>
            <li>region: 'TX'</li>
            <li>timezone: 'America/Chicago'</li>
            <li>city: 'San Antonio'</li>
            <li>metro: 641</li>
        </ul>
        <p>Search result information is limited to Blockchain and result type: Address, Contract, Transaction</p>
    </div>
</div>