<div class="container">
    <div *ngIf="offLine">
        <h3>The Chain Hunter is down for maintenance</h3>
    </div>
    <div *ngIf="!offLine">
        <div *ngIf="notRunning">
            <div class="h1-like">Start your hunt!</div>
            <div class="h4-like">Enter an Address, Contract, or Transaction Hash:</div>
            <p-toast key="search-toast"></p-toast>
            <div class="search-bar pull-right">
                <span class="ui-float-label">
                    <input [(ngModel)]="addyTxn" id="addy-txn" type="text" class="search-width"
                        (keyup.enter)="chainHunt()" pInputText>
                    <label for="addy-txn">Address/Contract/Hash</label>
                    <button pButton type="button" (click)="chainHunt()" label="Go!" class="ui-button-success"></button>
                </span>
            </div>
        </div>
        <div *ngIf="!notRunning">
            <div class="h3-like">
                The hunt is on!
                <p-progressBar mode="indeterminate" [style]="{'width': '50%'}"></p-progressBar>
            </div>
        </div>
        <active-chains *ngIf="huntStatus === 0" [activeChains]="activeChains"></active-chains>
        <div *ngIf="huntStatus !== 0">
            <p-tabMenu [model]="menuItems" [activeItem]="activeItem">
                <ng-template pTemplate="item" let-item let-i="index">
                    <div style="position: relative; text-align: center; min-width: 1em">
                        <img src="assets/cryptoicons/{{item.icon}}" title="{{item.label}}" />
                    </div>
                </ng-template>
            </p-tabMenu>
            <search-results [blockchain]="blockchain" 
                [huntStatus]="huntStatus" 
                [selectedChain]="selectedChain"
                [transactionsComplete]="txnsComplete" 
                [tokensComplete]="tokensComplete" 
                [resultsFound]="resultsFound"
                [tokenContent]="tokenContent"
                (getTransactions)="getAddressTxns($event)" 
                (getTokens)="getAddressTokens($event)">
            </search-results>
        </div>
        <coming-soon [futureChains]="futureChains"></coming-soon>
        <p>Subscribe to our mail list: <a routerLink="subscribe"><i class="fa fa-chevron-right" style="border: 2px solid; padding: 2px 5px;"></i></a> </p>
        <p-accordion *ngIf="devMode">
            <p-accordionTab header="Samples">
                <samples></samples>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>