<div class="container">
    <div *ngIf="offLine">
        <h3>The Chain Hunter is down for maintenance</h3>
    </div>
    <div *ngIf="!offLine">
        <div *ngIf="notRunning">
            <div class="h1-like">Start your hunt!</div>
            <div class="h4-like">Enter an Address, Block #, Contract, or Transaction Hash:</div>
            <p-toast key="search-toast"></p-toast>
            <div class="search-bar">
                <span class="ui-float-label">
                    <input [(ngModel)]="addyTxn" id="addy-txn" type="text" class="search-width"
                        (keyup.enter)="chainHunt()" pInputText>
                    <label for="addy-txn">Address/Block/Contract/Hash</label>
                    <button pButton type="button" (click)="chainHunt()" label="Go!" class="ui-button-success"></button>
                </span>
                <div *ngIf="!showSearchOptions" class="search-options">
                    <button pButton type="button" (click)="toggleOptionsPanel()" label="Search Options" class="ui-button-ch"></button>
                </div>
                <div *ngIf="showSearchOptions" class="search-options">
                    <button pButton type="button" label="Address" class="ui-button-ch" 
                        [ngClass]="!searchAddress ? 'inactive-option' : ''" (click)="optionSet('address')"></button>
                    <button pButton type="button" label="Block" class="ui-button-ch" 
                        [ngClass]="!searchBlock ? 'inactive-option' : ''" (click)="optionSet('block')"></button>
                    <button pButton type="button" label="Contract" class="ui-button-ch" 
                        [ngClass]="!searchContract ? 'inactive-option' : ''" (click)="optionSet('contract')"></button>
                    <span class="option-group">
                        <button pButton type="button" label="Transaction" class="ui-button-ch" 
                            [ngClass]="!searchTransaction ? 'inactive-option' : ''" (click)="optionSet('transaction')"></button>
                        <button pButton type="button" label="Latest Block(s)" class="ui-button-ch" 
                            [ngClass]="!searchBlocks ? 'inactive-option' : ''" (click)="optionSet('blocks')"></button>
                    </span>
                    <span class="option-group">
                        <p-dropdown [options]="searchChains" [(ngModel)]="searchChain" [style]="{'width':'150px', 'margin-left':'10px'}">
                            <ng-template let-item pTemplate="selectedItem"> 
                            <img *ngIf="item.label !== 'All'" src="assets/cryptoicons/color/{{item.label.toLowerCase()}}.png" 
                                    style="width:18px; margin-right: 5px; vertical-align:middle" /> 
                            <span style="vertical-align:middle">{{item.label}}</span>
                        </ng-template> 
                            <ng-template let-chain pTemplate="item">
                                <div class="ui-helper-clearfix" style="position: relative; height: 25px;">
                                    <img *ngIf="chain.value !== null" src="assets/cryptoicons/color/{{chain.value.toLowerCase()}}.png" 
                                        style="width:18px;position:absolute;top:1px;left:5px" />
                                    <div style="font-size:14px;float:right;margin-top:4px">{{chain.label.toUpperCase()}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </span>
                </div>
                <div *ngIf="showSearchOptions && windowWidth <= 768" class="search-options">
                    <button pButton type="button" (click)="toggleOptionsPanel()" label="Hide Options" class="ui-button-ch"></button>
                </div>
            </div>
        </div>
        <div *ngIf="!notRunning">
            <div class="h3-like">
                The hunt is on!
                <p-progressBar mode="indeterminate" [style]="{'width': '50%'}"></p-progressBar>
            </div>
        </div>
        <active-chains *ngIf="huntStatus === 0" [activeChains]="activeChains"></active-chains>
        <div *ngIf="huntStatus !== 0">
            <p-tabMenu [model]="menuItems" [activeItem]="activeItem">
                <ng-template pTemplate="item" let-item let-i="index">
                    <div class="{{item.title}}" style="position: relative; text-align: center; min-width: 1em">
                        <img src="assets/cryptoicons/{{item.icon}}" title="{{item.label}}" />
                    </div>
                </ng-template>
            </p-tabMenu>
            <search-results [blockchain]="blockchain" 
                [huntStatus]="huntStatus" 
                [selectedChain]="selectedChain"
                [transactionsComplete]="txnsComplete" 
                [tokensComplete]="tokensComplete" 
                [resultsFound]="resultsFound"
                [tokenContent]="tokenContent"
                (getTransactions)="getAddressTxns($event)" 
                (getTokens)="getAddressTokens($event)">
            </search-results>
        </div>
        <coming-soon [futureChains]="futureChains"></coming-soon>
        <p>Subscribe to our mail list: <a routerLink="subscribe"><i class="fa fa-chevron-right" style="border: 2px solid; padding: 2px 5px;"></i></a> </p>
        <p-accordion *ngIf="devMode">
            <p-accordionTab header="Samples">
                <samples></samples>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>
