<p-overlayPanel #saveThisContract>
    {{saveThisMessage}}
</p-overlayPanel>
<h3 class="word-break">
    <i *ngIf="contractSaved" (mouseover)="unSaveHover($event, 'Address', saveThisContract)" 
        (mouseleave)="unSaveHover($event, 'Address', saveThisContract)"
        (click)="unSaveResult($event, 'address')" 
        class="fa fa-star" 
        style="color: deeppink; cursor: pointer;"></i>
    <i *ngIf="!contractSaved" (mouseover)="saveHover($event, 'Contract', saveThisContract)" 
       (mouseleave)="saveHover($event, 'Contract', saveThisContract)" 
       (click)="saveResult($event, 'contract')" 
       class="fa fa-star-o" 
       style="color: deeppink; cursor: pointer;"></i>
    {{blockchain.symbol}} {{blockchain.symbol === 'ATOM' ? 'Validator' : 'Contract'}} Address: <span class="wrap-long">{{blockchain.contract.address}}</span>
</h3>
<p *ngIf="blockchain.contract.contractName">
    Name: {{blockchain.contract.contractName}}
    <img *ngIf="blockchain.contract.icon" src="{{blockchain.contract.icon}}" style="height: 30px; width: 30px; border-radius: 50%;" />
    <img *ngIf="!blockchain.contract.icon && blockchain.contract.symbol && blockchain.contract.hasIcon" src="/assets/cryptoicons/color/{{blockchain.contract.symbol.toLowerCase()}}.png" />
</p>
<p *ngIf="blockchain.contract.quantity">
    Balance: {{blockchain.contract.quantity}} {{blockchain.contract.symbol}}
</p>
<p *ngIf="blockchain.contract.creator">Creator Address: <span class="wrap-long">{{blockchain.contract.creator}}</span></p>
<div *ngIf="blockchain.source !== undefined">
    <p>
        For more info: <a href="{{blockchain.source}}" target="_blank">{{blockchain.source}}</a>
    </p>
</div>
