<div *ngIf="doWork">
    <i class="fa fa-refresh fa-2x fa-spin"></i>
</div>
<div *ngIf="!doWork">
    <div *ngIf="!passUpdated">
        <div *ngIf="validToken">
            <h3>Password Reset</h3>
            <div class="p-grid">
                <div class="p-col-12">
                    New Password: <input type="password" placeholder="Minimum 8 characters" pInputText [(ngModel)]="newPassword" />
                </div>
                <div class="p-col-12">
                    Confirm Password: <input type="password" placeholder="Minimum 8 characters" pInputText [(ngModel)]="newPasswordConfirm" />
                </div>
                <div class="p-col-12">
                    <p-button label="Submit" (onClick)="onResetPassword($event)"></p-button>
                </div>
            </div>
        </div>
        <div *ngIf="!validToken">
            <h3>Invalid</h3>
            <p>Your password reset request has expired. Please submit a new request.</p>
        </div>
    </div>
    <div *ngIf="passUpdated">
        <h3>Password Updated</h3>
        <p>Login to continue</p>
    </div>
</div>