<p-accordion>
    <p-accordionTab header="BTC">
        <img src="assets/cryptoicons/color/btc.svg" />
        <div>Address: <span>1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa</span></div>
        <div>Txn: <span>0e3e2357e806b6cdb1f70b54c3a3a17b6714ee1f0e68bebb44a74b1efd512098</span></div>
    </p-accordionTab>
    <p-accordionTab header="BCH">
        <img src="assets/cryptoicons/color/bch.svg" />
        <div>Address: <span>35hK24tcLEWcgNA4JxpvbkNkoAcDGqQPsP</span></div>
        <div>Txn: <span>001ac94b4ef205519639607694aa461cfbe6094c6dea93023c83468e2597e0ba</span></div>    
    </p-accordionTab>    
    <p-accordionTab header="ETH">
        <img src="assets/cryptoicons/color/eth.svg" />
        <div>Address: <span>0x3f5CE5FBFe3E9af3971dD833D26bA9b5C936f0bE</span></div>
        <div>Txn: <span>0xa5eac3f286fbb68202fe7d547974f36c063d9511ffb500b22eca5038dcdfcc1a</span></div>
        <div>Contract: <span>0x9f8F72aA9304c8B593d555F12eF6589cC3A579A2</span></div>
    </p-accordionTab>
    <p-accordionTab header="LTC">
        <img src="assets/cryptoicons/color/ltc.svg" />
        <div>Address: <span>M8T1B2Z97gVdvmfkQcAtYbEepune1tzGua</span></div>
        <div>Txn: <span>073bef57560358ed3c454555c734c10054f4b434242c5b45d2f0817eb89f2e7a</span></div>
    </p-accordionTab>
    <p-accordionTab header="NEO">
        <img src="assets/cryptoicons/color/neo.svg" />
        <div>Address: <span>Ae2d6qj91YL3LVUMkza7WQsaTYjzjHm4z1</span></div>
        <div>Contract: <span>b9a70a85136ed73f1f94e83edfee68c00daf412f</span></div>
        <div>Txn: <span>4f5b13e8d1e3214f8f3751bbc462c941c5066ec323b6d04d11462bb8a43c0da8</span></div>
    </p-accordionTab>
    <p-accordionTab header="RVN">
        <img src="assets/cryptoicons/color/rvn.svg" />
        <div>Address: <span>RK6wMGc1tvLNDf4LoW6uoEcdUJVRfKsC7h</span></div>
        <div>Txn: <span>88b1b2ff55bba09245d9f8099f1b7e9adac2efec13a484e36d860708b627f898</span></div>
    </p-accordionTab>
    <p-accordionTab header="XRP">
        <img src="assets/cryptoicons/color/xrp.svg" />
        <div>Address: <span>rKveEyR1SrkWbJX214xcfH43ZsoGMb3PEv</span></div>
        <div>Txn: <span>3C98A7CB326547F1799663A6569DD5446B81D78F6CFED6CA63849B281C692CA3</span></div>    
    </p-accordionTab>
    <p-accordionTab header="TRX">
        <img src="assets/cryptoicons/color/trx.svg" />
        <div>Address: <span>TMuA6YqfCeX8EhbfYEg5y7S4DqzSJireY9</span></div>
        <div>Txn: <span>e13f4f606b38ec14ea4603b5a782da26c7c9664ee737a2a6bcc9fd23aae21209</span></div>    
    </p-accordionTab>
    <p-accordionTab header="AION">
        <img src="assets/cryptoicons/color/aion.svg" />
        <div>Address: <span>0xa0efb50bb6da136d1257e1a52411c9f3fd154b8d69ce7f381a28dc01c5aeef78</span></div>
        <div>Txn: <span>0xe9ea191216241b2a809b201f3c6901857cdf399d837f814877d88b1a9bca4e5e</span></div>
        <div>Contract: <span>0xa0e1d52f4fda29d66a596669e1beb519889b310529013b2f233cd8ce311b66e1</span></div>
    </p-accordionTab>
    <p-accordionTab header="BNB">
        <img src="assets/cryptoicons/color/bnb.svg" />
        <div>Address: <span>bnb1jxfh2g85q3v0tdq56fnevx6xcxtcnhtsmcu64m</span></div>
        <div>Txn: <span>6C1B52E688835B297E0A2A63FE4CB7BBE779791EA437974134F52A7B9CF68D9A</span></div>    
    </p-accordionTab>
    <p-accordionTab header="NANO">
        <img src="assets/cryptoicons/color/nano.svg" />
        <div>Address: <span>xrb_1ipx847tk8o46pwxt5qjdbncjqcbwcc1rrmqnkztrfjy5k7z4imsrata9est</span></div>
        <div>Txn: <span>E6D661E026E8D72CC96292163CF02507BBC07EB365A13ECFD1EA24B6D034F6C8</span></div>    
    </p-accordionTab>
    <p-accordionTab header="USDT">
        <img src="assets/cryptoicons/color/usdt.svg" />
        <div>Address: <span>12vCxak5xc1t6T275xbm6AJ4xsZCxkTSc5</span></div>
        <div>Txn: <span>2df12e97068703e4c55273f68984a91dab5378f587803bca56c3f648dba7f868</span></div>    
    </p-accordionTab>
    <p-accordionTab header="ICX">
        <img src="assets/cryptoicons/color/icx.svg" />
        <div>Address: <span>hxb8519d05075f3e971a4a7501a084a84489e4b13c</span></div>
        <div>Contract: <span>cx9ab3078e72c8d9017194d17b34b1a47b661945ca </span></div>
        <div>Txn: <span>0xd63b01bf398fcf37a029ada9d63063026132fb39671f07ba10d17e67bf0feade</span></div>    
    </p-accordionTab>
    <p-accordionTab header="IOST">
        <img src="assets/cryptoicons/color/iost.svg" />
        <div>Address: <span>coldbank</span></div>
        <div>Txn: <span>EavdYvMUwbAB53X99jwUASyiQx681RuPaajdqCr4E7EQ</span></div>    
    </p-accordionTab>
    <p-accordionTab header="ONT">
        <img src="assets/cryptoicons/color/ont.svg" />
        <div>Address: <span>AS7MjVEicEsJ4zjEfm2LoKoYoFsmapD7rT</span></div>
        <div>Contract: <span>4765d8fa1c3f8f938ddb19ac5e848b422f67bfa9</span></div>
        <div>Txn: <span>a13b2b750ea40fee39fb0496c7fed938c856a7a8c41e904905ca1cfb88390cff</span></div>    
    </p-accordionTab>
    <p-accordionTab header="DASH">
        <img src="assets/cryptoicons/color/dash.svg" />
        <div>Address: <span>XdAUmwtig27HBG6WfYyHAzP8n6XC9jESEw </span></div>
        <div>Txn: <span>9f5340da8519e2524eb5c9f2c55bf88f067bab50ff24b347a5b5865f6fb1ce5b</span></div>    
    </p-accordionTab>
    <p-accordionTab header="AE">
        <img src="assets/cryptoicons/color/ae.svg" />
        <div>Address: <span>ak_dnzaNnchT7f3YT3CtrQ7GUjqGT6VaHzPxpf2efHWPuEAWKcht </span></div>
        <div>Txn: <span>th_qro7rQEWNVBaiRW5RrX8SEypJoZnobEmyzqpLD9C1ydZiWTdg</span></div>    
    </p-accordionTab>

    
    <!-- <p-accordionTab header="EOS">
        <img src="assets/cryptoicons/color/eos.svg" />
        <div>Address: <span>b1</span></div>
        <div>Txn: <span>b904bc59c5e4b734cb49f4cee61257e406f2ea66ed4c31cd5d4cf7858c6f7e8e</span></div>    
    </p-accordionTab> -->
</p-accordion>