.invalid-input {
    border: 1px solid #dd0031 !important;
}

:host ::ng-deep .link-like {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

:host ::ng-deep .copy-icon {
    color: blue;
    cursor: pointer;
    padding-left: 5px;
}