<div class="wrapper">
  <!-- Chain Hunter Header -->
  <header _ngcontent-rap-c0="" class="jumbotron mt-3" _nghost-rap-c1="">
    <img _ngcontent-rap-c1="" class="logo-main" src="./assets/chainhunterhorizontal.png">
  </header>
  <!-- Chain Hunter Login -->
  <account class="login-position" (login)="login()"></account>
  <div class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-10">
      <top-ad class="top-ad"></top-ad>
      <!-- Chain Hunter Main -->
      <div class="main-container">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="right-panel ui-g-12 ui-md-12 ui-lg-1">
      <right-ad class="right-ad"></right-ad>
    </div>
  </div>
  <div class="ui-g-12 ui-md-12 ui-lg-10">
    <bottom-ad class="bottom-ad"></bottom-ad>
  </div>
</div>
<!-- Chain Hunter Footer -->
<div class="footer">
  <footer-component (login)="login()"></footer-component>
</div>
<!-- Chain Hunter Cookie notice -->
<cookies *ngIf="showNotice" (cookiesOk)="cookieOk($event)" class="cookie-box"></cookies>