<!-- <div id="form-container">
    <div id="sq-ccbox">
      <form id="nonce-form" novalidate action="process-payment" 
   method="post">
        <fieldset>
          <div id="sq-card-number"></div>
           <div class="third">
            <div id="sq-expiration-date"><input type="text"></div>
          </div>
          <div class="third">
            <div id="sq-cvv"></div>
          </div>
         <div class="third">
           <div id="sq-postal-code"></div>
          </div>
        </fieldset>
        <button id="sq-creditcard" class="button-credit-card" 
      (click)="onGetCardNonce($event)">Pay ${{totalAmount}}</button>
    <input type="text" id="card-nonce" name="nonce">
  </form>
    </div>
   </div> -->
<div id="form-container" style="top: 140px">
    <div id="sq-card-number"></div>
    <div class="third" id="sq-expiration-date"></div>
    <div class="third" id="sq-cvv"></div>
    <div class="third" id="sq-postal-code"></div>
    <button id="sq-creditcard" class="button-credit-card" (click)="onGetCardNonce($event)">Pay ${{totalAmount}}</button>
</div> 
<!-- end #form-container --> 
<!-- TODO: Add script from step 1.1.3 -->