<h3>Login</h3>
<div class="p-grid">
    <div class="p-col">
        <input type="text" pInputText placeholder="Email" [(ngModel)]="email">
    </div>
    <div class="p-col">
        <input type="password" pInputText placeholder="Password" [(ngModel)]="password">        
    </div>
    <div class="p-col">
        <p-button label="Login" (click)="onLogin($event)" styleClass="ui-button-success"></p-button>
        &nbsp;&nbsp;
        <p-button label="Forgot Password" (click)="onForgotPassword($event)" styleClass="ui-button-warning"></p-button>
    </div>
</div>
