<h2>Blockchains Currently Supported by The Chain Hunter</h2>
    <p-table [value]="chains">
        <ng-template pTemplate="header">
            <tr>
                <th rowspan="2">Name</th>
                <th rowspan="2">Symbol</th>
                <th rowspan="2">Logo</th>
                <th rowspan="2">Type</th>
                <th colspan="4">Chain Hunter Supports</th>
            </tr>
            <tr>
                <th>Addresses</th>
                <th>Transactions</th>
                <th>Tokens</th>
                <th>Contracts</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-chain>
            <tr>
                <td><h4>{{chain.name}}</h4></td>
                <td><h4>{{chain.symbol}}</h4></td>
                <td><img src="assets/cryptoicons/color/{{chain.symbol.toLowerCase()}}.png" title="{{chain.name}} logo" /></td>
                <td><h4>{{chain.type}}</h4></td>
                <td class="center"><h4>X</h4></td>
                <td class="center"><h4>X</h4></td>
                <td class="center"><h4>{{chain.hasTokens ? 'X' : ''}}</h4></td>
                <td class="center"><h4>{{chain.hasContracts ? 'X' : ''}}</h4></td>
            </tr>
        </ng-template>
    </p-table>
