<div *ngIf="showHash">Transaction Hash: {{transaction.hash}}</div>
<div *ngIf="transaction.type">
  <div>Transaction Type: {{transaction.type}}</div>
  <div *ngIf="transaction.inout">Direction: {{transaction.inout}}</div>
</div>
<div *ngIf="!transaction.type && transaction.inout">Transaction Type: {{transaction.inout}}</div>
<div *ngIf="!transaction.type && !transaction.inout && transaction.from">Transaction Type: {{transaction.from.includes(address) ? 'Sender' : 'Receiver'}}</div>
<div *ngIf="transaction.quantity && transaction.symbol">
  Quantity: {{ transaction.quantity }}
  {{ transaction.symbol }}
</div>
<div *ngIf="transaction.date">
  Date: {{ transaction.date }}
</div>
<div *ngIf="transaction.block > 0">
  Block: {{ transaction.block }}
</div>
<div *ngIf="transaction.confirmations > -1">
  Confirmations: {{ transaction.confirmations }}
</div>
<div *ngIf="transaction.from">From: {{ transaction.from }}</div>
<div *ngIf="transaction.to">To: {{ transaction.to }}</div>
<div *ngIf="transaction.froms && transaction.froms.length > 0 && transaction.tos && transaction.tos.length > 0" 
  class="p-grid">
  <div class="p-sm-6">
    <p-table [value]="transaction.froms">
      <ng-template pTemplate="header">
        <tr>
          <th>IN</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-from>
        <tr>
          <td>
            {{from.addresses.join(",")}}<br>
            {{from.quantity}} {{from.symbol}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="p-sm-6">
    <p-table [value]="transaction.tos">
      <ng-template pTemplate="header">
        <tr>
          <th>OUT</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-to>
        <tr>
          <td>
            {{to.addresses.join(",")}}<br>
            {{to.quantity}} {{to.symbol}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div *ngIf="transaction.ios && transaction.ios.length > 0" class="p-grid">
  <div class="p-sm-6">
    <p-table [value]="transaction.ios">
      <ng-template pTemplate="header">
        <tr>
          <th>{{transaction.inout === "Receiver" ? "FROM" : "TO"}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-io>
        <tr>
          <td>
            {{io.addresses.join(",")}}<br>
            {{io.quantity}} {{io.symbol}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>