<h3 class="word-break">      
  <i *ngIf="transactionSaved" (mouseover)="unSaveHover($event, 'Transaction', saveThisTxn)" 
      (mouseleave)="unSaveHover($event, 'Transaction', saveThisTxn)"
      (click)="unSaveResult($event, 'transaction')" 
      class="fa fa-star" 
      style="color: deeppink; cursor: pointer;"></i>
  <i *ngIf="!transactionSaved" (mouseover)="saveHover($event, 'Transaction', saveThisTxn)" 
      (mouseleave)="saveHover($event, 'Transaction', saveThisTxn)"
      (click)="saveResult($event, 'transaction')" 
      class="fa fa-star-o" 
      style="color: deeppink; cursor: pointer;"></i>
  {{blockchain.symbol}} Transaction Hash: {{blockchain.transaction.hash}}
  <i class="fa fa-clipboard copy-icon" title="Copy this {{blockchain.symbol}} transaction" 
      [copy-clipboard]="blockchain.transaction.hash" (copied)="copySuccess($event)"></i>
  <i class="fa fa-link copy-icon" title="Copy direct search url for this {{blockchain.symbol}} transaction" 
      [copy-clipboard]="searchUrl" (copied)="linkCopySuccess($event)"></i>
</h3>
<transaction-detail
          [blockchain]="blockchain"
          [transaction]="blockchain.transaction"
          [address]=""
          [showHash]="false">
</transaction-detail>