<h3 class="word-break">      
  <i *ngIf="transactionSaved" (mouseover)="unSaveHover($event, 'Transaction', saveThisTxn)" 
      (mouseleave)="unSaveHover($event, 'Transaction', saveThisTxn)"
      (click)="unSaveResult($event, 'transaction')" 
      class="fa fa-star" 
      style="color: deeppink; cursor: pointer;"></i>
  <i *ngIf="!transactionSaved" (mouseover)="saveHover($event, 'Transaction', saveThisTxn)" 
      (mouseleave)="saveHover($event, 'Transaction', saveThisTxn)"
      (click)="saveResult($event, 'transaction')" 
      class="fa fa-star-o" 
      style="color: deeppink; cursor: pointer;"></i>
  {{blockchain.symbol}} Transaction Hash: {{blockchain.transaction.hash}}
</h3>
<transaction-detail
          [blockchain]="blockchain"
          [transaction]="blockchain.transaction"
          [address]=""
          [showHash]="false">
</transaction-detail>