<p-overlayPanel #saveThisBlock>
    {{saveThisMessage}}
</p-overlayPanel>
<div class="p-grid">
    <h3 class="word-break">
        <i *ngIf="blockSaved" (mouseover)="unSaveHover($event, 'Block', saveThisBlock)" 
            (mouseleave)="unSaveHover($event, 'Block', saveThisBlock)"
            (click)="unSaveResult($event, 'block')" 
            class="fa fa-star" 
            style="color: deeppink; cursor: pointer;"></i>
        <i *ngIf="!blockSaved" (mouseover)="saveHover($event, 'Block', saveThisBlock)" 
            (mouseleave)="saveHover($event, 'Block', saveThisBlock)"
            (click)="saveResult($event, 'block')" 
            class="fa fa-star-o" 
            style="color: deeppink; cursor: pointer;"></i>
        {{blockchain.symbol}} Block: <span>{{block.blockNumber}}</span>
        <i class="fa fa-link copy-icon" title="Copy direct search url for this {{blockchain.symbol}} Block" 
            [copy-clipboard]="searchUrl" (copied)="linkCopySuccess($event)"></i>
    </h3>
</div>
<div class="m-bottom-1 wrap-long" *ngIf="block.hash">Hash: {{block.hash}}</div>
<div class="m-bottom-1">Date: {{block.date}}</div>
<div class="m-bottom-1" *ngIf="block.size">Size: {{block.size}}</div>
<div class="m-bottom-1" *ngIf="block.validator">Miner/Validator: 
    <span class="word-break link-like" (click)="getAddress(block.validator)">{{block.validator}}</span>
</div>
<div class="m-bottom-1" *ngIf="block.confirmations > 0">Confirmations: {{block.confirmations}}</div>
<div class="m-bottom-1" *ngIf="block.confirmations === -1">Confirmations: Pending</div>
<div class="m-bottom-1" *ngIf="block.transactionCount > -1">Transaction Count: {{block.transactionCount}}</div>
<div class="m-bottom-1" *ngIf="block.volume">Block Total Volume: {{block.volume | number}} {{blockchain.symbol}}</div>
<p-accordion 
        *ngIf="block.hasTransactions" 
        (onOpen)="onTxnsOpen($event)">
    <!-- Block Transactions -->
    <p-accordionTab 
            header="{{blockchain.symbol}} block transactions" 
            *ngIf="block.hasTransactions">
        <div *ngIf="!transactionsComplete">
            Hunting down Transactions <i class="fa fa-cog fa-2x fa-spin" style="color: #464a4e;"></i>
        </div>
        <div *ngIf="transactionsComplete && (block.transactions === undefined || block.transactions === null || block.transactions.length === 0)">
            No transactions found
        </div>
        <ul>
            <li class="address-txn" *ngFor="let txn of block.transactions">
                <transaction-detail [transaction]="txn" 
                             [blockchain]="blockchain"
                             [address]=""
                             [showHash]="true"></transaction-detail>
            </li>
        </ul>
    </p-accordionTab>
</p-accordion>
<div *ngIf="blockchain.source !== undefined">
    <p>
        For more info: <a href="{{blockchain.source}}" target="_blank">{{blockchain.source}}</a>
    </p>
</div>
