<a href="https://shop.ledger.com/pages/ledger-nano-x?r=b65a6b97f33d" target="_blank">
    <picture>
        <source class="horiz-img" media="(max-width: 600px)" 
            srcset="assets/ledger_nano-s_2-5-0x1-0-0-sm.jpg">
        <source class="horiz-img" media="(max-width: 1024px)" 
            srcset="assets/ledger_nano-s_2-5-0x1-0-0.jpg">
        <img class="vert-image" alt="Ledger Nano X - The secure hardware wallet"
            src="assets/ledger_nano-s_1-2-0x6-0-0.jpg">
    </picture>
</a>