<p-overlayPanel #saveThisAddress>
    {{saveThisMessage}}
</p-overlayPanel>
<div class="p-grid">
    <h3 class="word-break">
        <i *ngIf="addressSaved" (mouseover)="unSaveHover($event, 'Address', saveThisAddress)" 
            (mouseleave)="unSaveHover($event, 'Address', saveThisAddress)"
            (click)="unSaveResult($event, 'address')" 
            class="fa fa-star" 
            style="color: deeppink; cursor: pointer;"></i>
        <i *ngIf="!addressSaved" (mouseover)="saveHover($event, 'Address', saveThisAddress)" 
            (mouseleave)="saveHover($event, 'Address', saveThisAddress)"
            (click)="saveResult($event, 'address')" 
            class="fa fa-star-o" 
            style="color: deeppink; cursor: pointer;"></i>
        {{blockchain.symbol}} Address: <span class="wrap-long">{{blockchain.address.address}} </span>
        <i class="fa fa-clipboard copy-icon" title="Copy this {{blockchain.symbol}} address" 
            [copy-clipboard]="blockchain.address.address" (copied)="copySuccess($event)"></i>
        <i class="fa fa-link copy-icon" title="Copy direct search url for this {{blockchain.symbol}} address" 
            [copy-clipboard]="searchUrl" (copied)="linkCopySuccess($event)"></i>
    </h3>
</div>
<div class="m-bottom-1">Balance: {{blockchain.address.quantity}} {{blockchain.symbol}}</div>
<div class="m-bottom-1" *ngIf="blockchain.address.transactionCount">Transaction Count: {{blockchain.address.transactionCount}}</div>
<p-accordion 
        *ngIf="blockchain.address.hasTransactions || blockchain.hasTokens" 
        (onOpen)="onTxnsOpen($event)">
    <!-- Address Transactions -->
    <p-accordionTab 
            header="Most recent {{blockchain.symbol}} address transactions" 
            *ngIf="blockchain.address.hasTransactions">
        <div *ngIf="!transactionsComplete">
            Hunting down Transactions <i class="fa fa-cog fa-2x fa-spin" style="color: #464a4e;"></i>
        </div>
        <div *ngIf="transactionsComplete && (blockchain.address.transactions === undefined || blockchain.address.transactions === null || blockchain.address.transactions.length === 0)">
            No transactions found
        </div>
        <ul>
            <li class="address-txn" *ngFor="let txn of blockchain.address.transactions">
                <transaction-detail [transaction]="txn" 
                             [blockchain]="blockchain"
                             [address]="blockchain.address.address"
                             [showHash]="true"></transaction-detail>
            </li>
        </ul>
    </p-accordionTab>
    <!-- Address Tokens -->
    <p-accordionTab 
            header="{{blockchain.symbol}} Address Tokens" 
            *ngIf="blockchain.hasTokens">
        <div *ngIf="!tokensComplete">
            Hunting down tokens <i class="fa fa-cog fa-2x fa-spin" style="color: #464a4e;"></i>
        </div>
        <div *ngIf="tokensComplete && (blockchain.address.tokens === undefined || blockchain.address.tokens === null || blockchain.address.tokens.length === 0)">
            No tokens found
        </div>
        <div *ngIf="blockchain.address.tokens !== undefined && blockchain.address.tokens !== null && blockchain.address.tokens.length > 0" 
            [innerHtml]="tokenContent"
            class="p-grid"></div>
    </p-accordionTab>
</p-accordion>
<div *ngIf="blockchain.source !== undefined">
    <p>
        For more info: <a href="{{blockchain.source}}" target="_blank">{{blockchain.source}}</a>
    </p>
</div>
<!-- <p-toast key="address-toast"></p-toast> -->
