.h3-like {
	font-size: 1.17em;
	font-weight: bold;
}

.container {
	width: auto;
	max-width: 1140px;
	padding: 0 15px;
	margin-right: auto;
	margin-left: auto;
}

@media(max-width: 1200px){
	.container {
		max-width: 1140px;
	}
	body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link {
		padding: .571em 1em;
	}
	.cookie-box {
		height: 90px;
	}
}

@media(max-width: 992px){
	.container {
		max-width: 960px;
	}
	body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link {
		padding: .571em 1em;
	}
	.cookie-box {
		height: 90px;
	}
}

@media(max-width: 768px){
	.container {
		max-width: 720px;
	}
	body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link {
		padding: .21em .51em !important;
	}
	.cookie-box {
		height: 90px;
	}
}

@media(max-width: 576px){
	.container {
		max-width: 540px;
	}
	body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link {
		padding: .21em .51em !important;
	}
	.cookie-box {
		height: 145px;
	}
}

// .left-side {
// 	width: 85%;
// 	float: left;
// }

// .right-side {
// 	width: 15%;
// 	float: right;
// }

// .main {
// 	margin-bottom: -4rem;
// 	height: 100vh;
// }

// .jumbotron {
// 	padding: 1rem 4rem !important;
// 	background-color: #e4e5e6;
// 	margin-bottom: 1.5rem;
// }

.search-bar {
	margin-bottom: 1rem;
}

.search-width {
	width: 75%;
}

.search-button {
	margin-left: 1rem;
}

.chain-logo-pad {
	padding: 0 2px 0 2px;
}

.footer-right {
	font-size: 12px;
	text-align: right;
}
  
.no-pad {
    padding: .5rem;
}

.active-chain-pad {
    padding-right: 20px;
}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a,
.ui-tabmenuitem.ui-state-active, 
.ui-accordion-header:not(.ui-state-disabled).ui-state-active
.ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
	background-color: #27AAE1 !important;
	color: #ffffff;
	border-radius: 3px;
}

.ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover,
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a,
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a {
	background-color: #007ad9;
	color: #ffffff;
	border-radius: 3px;
  }

.thefoot {
	font-size: 12px;
	color: #464a4e;
}

.m-bottom-1 {
	margin-bottom: 1rem;
}

.cookie-box {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #464a4e;
	color: #ffffff;
	font-size: 14px;
}

.cookie-title {
	font-size: 18px;
	color: yellow;
	font-weight: 100;
}